export(draw.x.axis.cor, report.assay.values, get.xlim, get.marker.histogram, get.range.cor)

export(marker.name.to.assay, make.case.count.marker.availability.table, get.marginalized.risk.no.marker)

export(cove.boost.collapse.strata, add.trichotomized.markers)

export(bootstrap.case.control.samples, get.bootstrap.data.cor, bootstrap.cove.boost.2, bootstrap.cove.boost, bootstrap.cohort, get.ptids.by.stratum.for.bootstrap)

export(marginalized.risk.svycoxph.boot)

export(pcr2, pcr, predictCompetingRisk2, predictCompetingRisk)

export(hotdeckMI)


importFrom(kyotil, '%.%', contain, myprint, last)
importFrom(survey, svycoxph, twophase)
importFrom(marginalizedRisk, marginalized.risk, marginalized.risk.threshold)
importFrom(Hmisc, wtd.quantile)
importFrom(assertthat, assert_that)
importFrom(survival, coxph)
importFrom(plotrix, weighted.hist)


import(stats)
import(utils)
import(methods)
import(graphics)
import(grDevices)
import(parallel)




